:root{
  --special-text : #94c3ea;
  --bg: #121212ff;
  --section-bg : #181818ff; 
  --text : #edf6f9;
  --border-wheat : wheat; 
}

.contact-major-containor{
  margin: 10px 50px;
  display: flex;
  gap: 100px;
}

.contact-form-container,
.contact-sections-container{
  flex: 1;
}

.main-form{
  width: fit-content;
  margin: 0 0 0 auto;
}
.form-heading{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}
.main-form label{
  display: block;
  font-size: 2rem;
}
.main-form input,
.main-form textarea{
  margin: 10px 0px 20px;
  padding: 10px 20px;
  resize: none;
  display: block;
  width: 100%;
  border: none;
  border-radius: 20px;
}
.submit-btn{
  margin: 30px 0px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--border-wheat);
}

.list-container{
  width: fit-content;
  margin: 0 auto 0 0;
}
.list-item{
  list-style: none;
  border:1px solid var(--border-wheat);
  padding: 20px 40px;
  border-radius: 20px;
  width: 100%;
}