/* Firsscreen */

.first__screen {
   background-image: url("../assets/about-bg.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: var(--light-color);
   text-align: center;

   min-height: 24vh;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.first__screen-title {
   font-size: 6.7rem;
   font-weight: 600;
}

.first__screen-description {
   font-family: "Montserrat", serif;
   font-size: 1.8rem;
   width: 100%;
   max-width: 40vw;
}

.about__block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 5vh 0;
   gap: 1vw;
}

.about__block-title {
   color: var(--main-color);
   font-size: 3.4rem;
   font-weight: 600;
}

.about__block-text {
   font-family: "Montserrat", serif;
   font-weight: 400;
   font-size: 1.5rem;
   width: 100%;
   max-width: 42vw;
}

.about__block-img {
   width: 30vw;
}

@media (max-width: 770px) {
   .about__block {
      flex-direction: column;
      gap: 1.5vh;
   }
}
